{
  "extends": [
    "./eslint-config/default/.eslintrc",
    "./eslint-config/es6/.eslintrc",
    "./eslint-config/react/.eslintrc"
  ],
  "env": {
    "browser": true,
    "node": true,
    "amd": false,
    "mocha": false,
    "jasmine": false
  },
  "ecmaFeatures": {},
  "globals": {},
  "rules": {}
}